#top-tital{background-color: black; color: chartreuse; text-align: center;}
h1{font-size: 50px;}
body{font-family: 'Roboto', sans-serif;}
.name-highlighted{color: goldenrod;}
.half-width{ width: 40%; float: left; margin: 5%;}
img{width: 90%;}