#top-tital{background-color: black; color: chartreuse; text-align: center;}
h1{font-size: 50px;}
body{font-family: 'Roboto', sans-serif; margin: 0%;}
.name-highlighted{color: goldenrod;}
.half-width{ width: 40%; float: left; margin: 5%;}
img{width: 80%;}
.upper{background-image: url(images/top-banner.png);background-repeat: no-repeat;}
section{height: 500px;}
.linkedin-button { text-decoration: none; padding: 5px 10px; color: crimson; background-color: rgb(249, 253, 17); font-weight: 1000; border-radius:  10px;}
.lower{background-image: url(images/dream-bg.png); background-repeat: no-repeat; background-position: right;}